h2 {
    text-align: center;
}

#about-us {
    margin: 2rem 0;
}

#team-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: auto 0px;
    transition: 0.25s ease-out;
}

#team-wrapper:has(.member.show) {
    grid-template-columns: auto 50%;
}

#team-members {
    justify-self: center;
    transition: 0.25s ease-out;
}

#team-wrapper:has(.member.show) #team-members {
    /* margin-left: auto; */
}

#team-image {
    position: relative;
    width: 375px;
    height: 500px;
}

#team-image img {
    position: absolute;
    top: 0;
    left: 0;
}

#team-image img.member.highlight {
    filter: drop-shadow(3px 3px 0 var(--ml-stick-color)) drop-shadow(3px -3px 0 var(--ml-stick-color)) drop-shadow(-3px 3px 0 var(--ml-stick-color)) drop-shadow(-3px -3px 0 var(--ml-stick-color));
    /* drop-shadow(1px 1px 0 var(--ml-stick-color)) */
}

#team-member-info {
}

#team-member-info .member {
    scroll-margin-top: 90px;
    margin: 1rem;
    display: none;
}

#team-member-info .member.show {
    display: block;
}

.name span {
    display: block;
    font-size: 3em;
    line-height: 1;
}

.name span:first-of-type {
    color: var(--ml-stick-color);
    font-weight: bold;
}

#info {
    text-align: center;
}

.sociallogo {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    margin: 5px;
    display: inline-block;
}

.sociallogo:hover {
    color: #34cb99;
}

.link {
    color: #000;
}

.link:hover {
    color: #34cb99;
}

@media screen and (max-width: 750px) {
    #team-wrapper {
        grid-template-columns: auto;
    }

    #team-wrapper:has(.member.show) {
        grid-template-columns: auto;
    }

    #team-member-info {
        text-align: center;
    }
}