body {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
}

#about-us {
    margin: 2rem 0;
}

#team-wrapper {
    display: grid;
    width: 100%;
    max-width: 1500px;
    grid-template-columns: 50% 0px;
    transition: 0.25s ease-out;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
}

#team-wrapper:has(.member.show) {
    grid-template-columns: 50% 50%;
}

#team-members {
    justify-self: center;
    transition: 0.25s ease-out;
    display: contents;
}

/* #team-wrapper:has(.member.show) #team-members {
    margin-left: auto;
} */

#team-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
}

.member-img {
    position: relative;
    user-select: none;
}

.member-hover-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.member-hover-container:hover {
    z-index: 8;
}

#team-image img {
    width: 200%;
    height: auto;
    position: relative;
    left: -50%;
}

.member-hover-container:hover~img,
#team-image img.member.highlight {
    filter: drop-shadow(2px 2px 0 var(--ml-stick-color)) drop-shadow(2px -2px 0 var(--ml-stick-color)) drop-shadow(-2px 2px 0 var(--ml-stick-color)) drop-shadow(-2px -2px 0 var(--ml-stick-color));
    z-index: 4;
}

.member-hover-container:hover~img {
    z-index: 5;
}

.member-hover-container:hover~img.member.hover:not(.highlight),
img.member.active.highlight {
    display: initial;
}

img.member.hover,
img.member.active,
.member-hover-container:hover~img.member.default,
img.member.default.highlight {
    display: none;
}


#team-member-info {
    width: 0;
    opacity: 0;
    transition: opacity 1s;
}

#team-wrapper:has(.member.show) #team-member-info {
    width: 50vw;
    opacity: 1;
}

#team-member-info .member {
    scroll-margin-top: 90px;
    margin: 1rem;
    display: none;
}

#team-member-info .member.show {
    display: block;
}

#member-jirka {
    position: fixed;
    left: 0px;
    top: 30%;
    z-index: 100;
    transform: translateY(-50%);

}

#member-jirka img {
    width: 50%;
}

#member-jonas {
    margin-right: -50%;
    margin-left: 50%;
    top: -3vh;
}

#member-lukas {
    margin-right: -5%;
    margin-left: 5%;

}

#member-julien {
    margin-right: 25%;
    margin-left: -25%;
    top: 1vh;
    /* margin-bottom: -13%;
    margin-top: 13%; */
}

#member-maurice {
    margin-right: 50%;
    margin-left: -50%;

}

.name span {
    display: block;
    font-size: 3em;
    line-height: 1;
}

.name span:first-of-type {
    color: var(--ml-stick-color);
    font-weight: bold;
}

#info {
    text-align: center;
    width: 50%;
    padding-bottom: 50px;
}

.sociallogo {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    margin: 5px;
    display: inline-block;
}

.sociallogo:hover {
    color: #34cb99;
}

.link {
    color: #000;
}

.link:hover {
    color: #34cb99;
}

@media screen and (max-width: 1000px) {
    #team-wrapper {
        grid-template-columns: auto;
        width: 100vw;
    }

    #team-wrapper:has(.member.show) {
        grid-template-columns: auto;
    }

    #team-member-info {
        text-align: center;
    }

    #info {
        width: 90%;
    }

    #team-member-info {
        width: 100% !important;
    }
}